<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  
 <mapper namespace="org.hotsix.mapper.MenteeMapper">
 <sql id="searchSQL">
    <if test="searchType != null">
  	<if test="searchType eq 'i'.toString()">
  	and (select id from tbl_member where tbl_member.memberNo=tbl_mentee.memberNo) like CONCAT('%',#{keyword},'%')
  	</if>
  	<if test="searchType eq 'n'.toString()">
  	and  (select nickname from tbl_member where tbl_member.memberNo=tbl_mentee.memberNo) like CONCAT('%',#{keyword},'%')
  	</if>
  	<if test="searchType eq 'nm'.toString()">
  	and  (select name from tbl_member where tbl_member.memberNo=tbl_mentee.memberNo)  like CONCAT('%',#{keyword},'%')
  	</if>
  	
  	
  	<if test="searchType eq 'ed'.toString()">
  	and  (select edu_level from tbl_member where tbl_member.memberNo=tbl_mentee.memberNo)  like CONCAT('%',#{keyword},'%')
  	</if>
  </if>  
  </sql>
 
  
  
 <select id="menteeCri" resultType="org.hotsix.mentee.MemberVO">
 
  select menteeNo,id,nickname,name, 
  (select (select id from tbl_member where tbl_member.memberNo=tbl_mento.memberNo)	
  from tbl_mento where tbl_mento.mentoNo=tbl_mentee.mentoNo) as mentoid ,
  regdate,logdate, edu_level from tbl_member, tbl_mentee 
  where tbl_mentee.memberNo=tbl_member.memberNo   <include refid="searchSQL"/>
  group by tbl_member.id
  order by tbl_member.regdate desc limit #{pageStart},#{perPageNum}
 </select>
 
 <select id="totalCount" resultType="org.hotsix.page.PageMaker">
 select count(menteeNo) totalCount from tbl_mentee,tbl_member where menteeNo >0 
 <include refid="searchSQL"/>
  </select> 
 </mapper>