<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hotsix.mapper.MentoMapper">
<sql id ="searchSQL">
 <if test="searchType != null">
 	<if test="searchType eq 'i'.toString()">
 		and (select id from tbl_member where tbl_member.memberNo=tbl_mento.memberNo) like CONCAT('%',#{keyword},'%')
 	</if>
 	<if test="searchType eq 'n'.toString()">
 		and (select name from tbl_member where tbl_member.memberNo=tbl_mento.memberNo) like CONCAT('%',#{keyword},'%')
 	</if>

 	<if test="searchType eq 'c'.toString()">
 		and career like CONCAT('%',#{keyword},'%')
 	</if>
 	<if test="searchType eq 's'.toString()">
 		and status like CONCAT('%',#{keyword},'%')
 	</if>
 </if>
</sql>


<select id="listMento" resultType="org.hotsix.mento.MentoVO" >
	select id,nickname,name,career,(select (select id from tbl_member where tbl_member.memberNo=tbl_mentee.memberNo)
	from tbl_mentee	where tbl_mentee.menteeNo=tbl_mento.menteeNo)
	as menteeId, regdate, logdate, status 
	from tbl_member, tbl_mento, tbl_mentee 
	where tbl_mento.memberNo=tbl_member.memberNo <include refid="searchSQL"></include> group by tbl_member.id 
	order by tbl_member.regdate desc
	limit #{pageStart}, #{perPageNum}
</select>

<select id="countPaging" resultType="org.hotsix.page.PageMaker">
	select count(mentoNo) totalCount from tbl_mento where mentoNo>0
	
</select>	

<select id="countWaiting" resultType="org.hotsix.page.PageMaker">
	select count(mentoNo) countWaiting from tbl_mento where status=0
</select>

</mapper>