<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hotsix.mapper.QnAMapper">
<sql id="qnatypeSQL">
<if test="qnaType != null">
	<if test="qnaType eq 'member'.toString()">
		and qna_type='회원문의' 
	</if>
	<if test="qnaType eq 'use'.toString()">
		and qna_type='이용문의'
	</if>
	<if test="qnaType eq 'con'.toString()">
		and qna_type='컨텐츠문의'
	</if>
	<if test="qnaType eq 'mento'.toString()">
		and qna_type='멘토문의'
	</if>
	<if test="qnaType eq 'menti'.toString()">
		and qna_type='멘티문의'
	</if>
	<if test="qnaType eq 'etc'.toString()">
		and qna_type='기타문의'
	</if>
	
</if>
</sql>
<sql id="searchSQL">
<if test="searchType != null">
	<if test="searchType eq 't'.toString()">
		and title like CONCAT('%', #{keyword}, '%')
	</if>
	<if test="searchType eq 'tc'.toString()">
		and (title like CONCAT('%', #{keyword}, '%')
		or contents like CONCAT('%', #{keyword}, '%'))
	</if>
	<if test="searchType eq 'id'.toString()">
		and id like CONCAT('%', #{keyword}, '%')
	</if>
	<if test="searchType eq 'na'.toString()">
		and name like CONCAT('%', #{keyword}, '%')
	</if>
	
</if>
</sql>
<sql id= "statusSQL">
	<if test="qnaStatus != null">
		<if test="qnaStatus == 1">
			and replycnt=0 
		</if>
	</if>
</sql>

<select id='aList' resultType="org.hotsix.qna.QnAVO">
	select tbl_qna.qnaNo qnaNo, tbl_qna.memberNo memberNo, tbl_member.id id, tbl_member.name name, tbl_qna.qna_type qna_type, tbl_qna.title title,
	tbl_qna.contents contents, tbl_qna.regdate regdate, tbl_qna.parent parent, tbl_qna.depth depth, tbl_qna.replycnt replycnt 
	from tbl_qna inner join tbl_member
	on tbl_qna.memberNo = tbl_member.memberNo
	where depth='a'
	<include refid="statusSQL"></include>
	<include refid="qnatypeSQL"></include>
	<include refid="searchSQL"></include>
	order by parent desc 
	limit #{pageStart}, #{perPageNum}
</select>

<select id='total' resultType="org.hotsix.page.PageMaker">
	select count(*) totalCount 
	from tbl_qna inner join tbl_member
	on tbl_qna.memberNo = tbl_member.memberNo
	where depth='a'
	<include refid="statusSQL"></include><include refid="qnatypeSQL"></include>
	<include refid="searchSQL"></include>
	
</select>
</mapper>
